/*ESTE É O ARQUIVO CSS QUE SERÁ USADO NAS PÁGINAS DO SITE*/

/*CONFIGURAÇÕES DOS COMANDOS HTML (TAGS)*/
body{
	/*COR DO FUNDO*/
	background-color: #FFC;
	/*OPÇÕES DE FONTES*/
	font-family: Arial, Verdana, Tahoma, Sans-Serif;
	/*COR DA FONTE*/
	color: #333;
	/*TAMANHO DA FONTE*/
	font-size: 12px;
}

p{
	/*ESPAÇO ENTRE AS LINHAS*/
	line-height: 20px;
	/*TEXTO JUSTIFICADO*/
	text-align: justify;
}

h1{
	font-size: 24px;
	color: #FFFFFF;
	/*PASSAR AS LETRAS PARA MAIÚSCULO*/
	text-transform: uppercase;
}

h2{
	font-size: 14px;
	/*ESPAÇO EM VOLTA DA PALAVRA*/
	padding: 5px;
	color: #4C4C4C;
}

/*FORMATAR OS LINKS*/
ul{
	padding: 3px;
	line-height: 38px;
	text-align: left;
	/*TIRAR OS MARCADORES*/
	list-style: none;
}

li{
	/*ALINHAR O TEXTO NA HORIZONTAL*/
	display: inline;
	padding-left: 35px;
	padding-right: 35px;
}

a{/*SEM O MOUSE SOBRE*/
	font-family: "Arial Black", Gadget, Sans-Serif;
	color: #000;
	font-size: 16px;
	/*TIRAR O SUBLINHADO DO LINK*/
	text-decoration: none;
}
a:hover{/*COM O MOUSE SOBRE*/
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	color: #666666;
	font-size: 18px;
	text-decoration: underline;
	/*AUMENTAR A ESPESSURA - NEGRITO*/
	font-weight: bold;
	background-color: #FFC;
	padding: 10px;
	/*ARREDONAR A BORDA*/
	border-radius: 25px;
	/*SOMBRA*/
	box-shadow: 0 4px 20px white;
	/*ANIMAÇÃO*/
	transition: 0.4s;
}

iframe{
	/*LARGURA*/
	width: 622px;
	/*ALTURA*/
	height: 510px;
	/*CENTRALIZAR*/
	float: center;
	background-color: #CCC;
}

/*FORMATAÇÃO DE CLASSES*/
.laterais{
	font-size: xx-large;
	color: #369;
}

#pagina{
	background-color: #000;
	width: 1024px;
	height: 650px;
	/*CENTRALIZANDO A DIV PRINCIPAL*/
	margin: 0 auto;
	margin-top: -16px;
}

#topo{
	width: 1024px;
	height: 100px;
	/*IMAGEM NO FUNDO DA DIV*/
	background-image: url(../imagens/banner.png);
	/*SOMBRA EM VOLTA DA DIV*/
	box-shadow: 0 4px 20px red;
}

#cont_esq{
	width: 200px;
	height: 512px;
	background-color: #FC9;
	/*POSICIONANDO À ESQUERDA*/
	float: left;
	/*ARREDONDAR AS BORDAS*/
	border-radius: 15px;
}
#cont_central{
	width: 824px;
	height: 512px;
	background-color: white;
}
#cont_dir{
	width: 200px;
	height: 512px;
	background-color: #090;
	float: right;
	margin-top: -512px;
}

#cont_1{
	width: 200px;
	height: 170px;
	background-color: #fff;
	background-image: url(../imagens/fundodiv.png);
	background-repeat: repeat-x;
}

#cont_2{
	width: 200px;
	height: 170px;
	background-color: #EFD394;
	box-shadow: 0 4px 20px #000;	
	border-radius: 5px;
}

#cont_3{
	width: 200px;
	height: 170px;
	background-color: #096;
}

#rodape{
	width: 1024px;
	height: 100px;
	background-color: #333;
	box-shadow: 0 4px 20px #000;
	color: #fff;
	padding-top: 20px;
	text-align: center;	
}